<%- include('./stylesheet') %>
<body>
    <%- include('./header') %> 
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/3') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <img src="<%- homer.imageUrl %> " alt="homer"></img>
                <p><%- homer.name %><p>
                <p><%- homer.dob %><p>
                <p><%- homer.profession %><p>
                <p><%- homer.favoriteFood %><p>
                <p><%- homer.favoriteBeverage %><p>
                <!-- render answer here -->
                
            </div>
        </div>
    </div>
</body>