<%- include('./stylesheet') %>
<body>
    <%- include('./header') %> 
    <div class='main'>
        <h2>Part 1</h2>
        <div class='content'>
            <%- include('../partials/questions/4') %>
            <div class='box answer'>
                <h3>Answer</h3>
                <!-- render answer here -->
                <p><%- popularGirlNames[0] %> </p>
                <p><%- popularGirlNames[1] %> </p>
                <p><%- popularGirlNames[2] %> </p>
            </div>
        </div>
    </div>
</body>